.link-hover{
	
  position: relative;

}

.link-hover::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .6s ease-in-out;
@apply bg-primary-400
}

.link-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}